version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    commit-message:
      prefix: 'chore'
      include: 'scope'
    groups:
      react-core:
        patterns:
          - 'react'
          - 'react-dom'
        update-types:
          - 'minor'
          - 'patch'
      eslint-stack:
        patterns:
          - "eslint"
          - "eslint-config-next"
          - "@typescript-eslint/*"
          - "@eslint/*"
          - "eslint-plugin-*"